<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1034322910927-spmbsdnjefs7davvvvhf82u1i5dqknr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034322910927-spmbsdnjefs7davvvvhf82u1i5dqknr5</string>
	<key>API_KEY</key>
	<string>AIzaSyCQm9Yr_9ySguHVFXTZqDTC86t4NV7SVVE</string>
	<key>GCM_SENDER_ID</key>
	<string>1034322910927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.kudan.ar</string>
	<key>PROJECT_ID</key>
	<string>arapp-5fc92</string>
	<key>STORAGE_BUCKET</key>
	<string>arapp-5fc92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034322910927:ios:8a77bd7741996c8c</string>
	<key>DATABASE_URL</key>
	<string>https://arapp-5fc92.firebaseio.com</string>
</dict>
</plist>